page-home {

    .city{
        font-size: 60px;
        text-align: center;
    }

    .img{
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        height: 80px;
    }

    .text{
        font-size: 20px;
        text-align: center;
    }

    .temp{
        font-size: 30px;
        text-align: center;
    }

    .humpres{
        font-size: 20px;
        text-align: center;
    }
}
